$pink: #ec469c;

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

body, html, canvas {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: white;
    font-family: 'Passion One';
    text-align: center;
}

h1 {
    font-family: 'Passion One';
    font-weight: 500;
    font-size: 12em;
    line-height: 0.9;
    text-transform: uppercase;
}

h2 {
    font-weight: 500;
    font-size: 8em;
    line-height: 0.9;
    text-transform: uppercase;
}

p {
    font-size: 5em;
    margin-top: 24px;
}

a {
    background: $pink;
    border: 8px solid white;
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-size: 5em;
    margin-top: 32px;
    padding: 28px 60px 24px 60px;
    text-decoration: none;
    &:hover {
        background-color: #e71783;
    }
}

.buttons {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 220px;
    justify-content: space-between;
    padding: 0 32px;
    width: 100%;
    a {
        margin-top: 0;
    }
}

header {
    padding: 25px 0;
}

canvas {
    background: black;
    height: 1700px;
    margin: 0;
}

.start-screen {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45% 60px 48px 60px;
    height: 100%;
    .bottom-area {

    }
}

.end-screen {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    .heading,
    .bottom-shelf {
        padding-left: 60px;
        padding-right: 60px;
    }
    p { margin-bottom: 48px; opacity: 0.75; }
}

.bottom-shelf {
    background: $pink;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 48px 0;
    #restart-btn {
        margin: 0;
    }
}

.gallery {
    background: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 1300px;
    width: 100%;
    margin-bottom: 20px;
}

.gallery-item {
    background: black;
    background-size: contain;
    box-sizing: border-box;
    border: 24px solid $pink;
    border-top: none;
    pointer-events: none;
    width: 33.333%;
    &:nth-of-type(1n){
        border-left: none;
    }
    &:nth-of-type(3n){
        border-right: none;
    }
}

.img_label {
    background: black;
    padding: 20px 0;
    font-size: 32px;
}