{% extends "template.html" %}

{% block custom_css %}
    body {
        background: #ec469c;
        box-sizing: border-box;
        padding: 90px 0;
    }
{% endblock %}

{% block body %}
<div class="end-screen">
    <h2 class="heading">Gallery of Beautiful Things</h1>
    <ul class="gallery">
        {% for image, number in img_list %}
            <li class="gallery-item">
                <h3 class="img_label">Thing #{{ number }}</h3>
                <img width='100%' src="{{ image }}"">
            </li>
        {% endfor %}
    </ul>
    <div class="bottom-shelf">
        <a id="restart-btn" href="{{ url_for('index') }}">I'm done!</a>
    </div>
</div>
{% endblock %}